*{
    margin: 0%;
}

body{
    padding: 0%;
    justify-content: center;
    align-content: center;
    background: white;
    background-size: 100%;
    background-repeat: no-repeat;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background:red;
    margin: 0%;
    width: 100vw;
    height: 25vh;
}

.titulo{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
}

.options{
    width: 100vw;
    height: 18vh;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:black; 
}

.option-one{
    display: flex;
    width: 15%;
    height: 100%;
    flex-direction: column;     
}

.option-one:hover{
    background: #dbec3d;
    width: 15%;
    height: 100%;

}

.home-img{
    display: flex;
    width: 50%;
    position: relative;
    left: 20%;
    padding: 5%;
}

.color-one{
    display: flex;
    width: 100%;
    height: 100%;
    background:  #dbec3d;
}

.option-two{
    display: flex;
    width: 15%;
    height: 100%;
    flex-direction: column; 
}

.option-two:hover{
    background: #f11520;
    width: 15%;
    height: 100%;
}

.pokemon-show{
    display: flex;
    position: relative;
    padding: 5%;
    width: 50%;
    left: 25%;
}

.color-two{
    display: flex;
    width: 100%;
    height: 100%;
    background: #f11520;
}


.option-three{
   display: flex;
   width: 15%;
   height: 100%;
   flex-direction: column;
}

.option-three:hover{
    background: rgb(50, 62, 241);
    width: 15%;
    height: 100%;
}

.graph-img{
    display: flex;
    position: relative;
    padding: 5%;
    width: 55%;
    left: 20%;
}

.color-three{
    display: flex;
    width: 100%;
    height: 100%;
    background: rgb(50, 62, 241);
}

.option-four{
    display: flex;
    width: 15%;
    height: 100%;
    flex-direction: column;
 }
 
 .option-four:hover{
     background: rgb(120, 241, 50);
     width: 15%;
     height: 100%;
 }
 
 .know-img{
     display: flex;
     position: relative;
     padding: 5%;
     width: 50%;
     left: 25%;
 }
 
 .color-four{
     display: flex;
     width: 100%;
     height: 100%;
     background: rgb(120, 241, 50);
 }

.introduction-video{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 57vh;
}

.videoContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-responsive{
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */    
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
}

.information{
    display: flex;
    position: relative;
    left: 30%;
    top: 7%;
    border-radius: 15px;
}


.information-text{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 30%;
    height: 80%;
    top: 7%;
    padding: 1%;
    background: rgb(185, 185, 185,.2);
    border-radius: 20px;
    box-shadow: 5px -5px 0 2px  rgb(235, 48, 48);

}

h1{
    position: relative;
    top: 2%;
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 3em;
}

.pharagraph-inf{
    position: relative;
    top: 5%;
    text-align: justify;
    font-family: 'Poiret One', cursive;
    font-size: 1.9em;
}



.all-Pokemon{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
  
}

.box-Pokemon{
    width: 20%;
    justify-content: space-between;
    background: white;
    align-items: column;
    padding: 1%;
    margin: 20px;
    filter: drop-shadow(5px, 5px, 10px, #444);
}

.datos{
    display: flex;
    justify-content: space-around;   
    margin: auto;
    align-items: center;
    border-radius: 15px;
   }

.img-P{
    align-self: center;
    justify-self: center;
    padding: 10%;
    background: #dcdcdf;
    margin: 2px;

}

.number{
    font-family: 'Indie Flower', cursive;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-size: 3em;
}

.name{
    font-family: 'Indie Flower', cursive;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-size: 3em;   
}